---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono";

const articles = await Astro.glob('./articles/*.md');
---

<Layout title="Carlinux articles">
  <main>
    <h1>Articles</h1>
    <ul class="articles-list">
      {articles.map((article) => (
        <li class="article-item">
          <a href={article.url} class="article-link">
            <span class="article-title">{article.frontmatter.title || "Untitled Article"}</span>
            <span class="article-date">{article.frontmatter.date}</span>
          </a>
        </li>
      ))}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 3rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
    font-family: "Ubuntu Mono", monospace;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .articles-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .article-item {
    margin: 1rem 0;
  }

  .article-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: #d6ccc2;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .article-link:hover {
    background-color: #344e41;
    color: white;
  }

  .article-title {
    flex-grow: 1;
  }

  .article-date {
    font-size: 1rem;
    color: #a0a0a0;
  }

  li {
      list-style-type: none;
  }

  @media (max-width: 768px) {
    main {
      padding: 2rem;
    }

    .article-link {
      flex-direction: column;
      align-items: flex-start;
    }

    .article-date {
      margin-top: 0.5rem;
    }
  }
</style>
