---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets"; 

import g1 from '../images/gallery/g1.jpeg';
import g2 from '../images/gallery/g2.jpeg';
import g3 from '../images/gallery/g3.jpeg';
import g4 from '../images/gallery/g4.jpg';
// import g5 from '../images/gallery/g5.jpg';
// import g6 from '../images/gallery/g6.jpg';
// import g7 from '../images/gallery/g7.jpg';
// import g8 from '../images/gallery/g8.jpg';
// import g9 from '../images/gallery/g9.jpg';

const images = [
  { src: g1, alt: "Primera foto de mi álbum" },
  { src: g2, alt: "Segunda foto de mi álbum" },
  { src: g3, alt: "Tercera foto de mi álbum" },
  { src: g4, alt: "Cuarta foto de mi álbum" },
//   { src: g5, alt: "Quinta foto de mi álbum" },
//   { src: g6, alt: "Sexta foto de mi álbum" },
//   { src: g7, alt: "Séptima foto de mi álbum" },
//   { src: g8, alt: "Octava foto de mi álbum" },
//   { src: g9, alt: "Novena foto de mi álbum" },
]
---

<Layout title="Gallery">
        <main>
                <hgroup>
                        <h1>My gallery ^^</h1>
                        <p>
                                These photos capture cherished moments and loved ones dear to me. <i class="fa-regular fa-heart"></i> 
                        </p>
                </hgroup>

                <hr />

                <div class="collage">
                        {images.map((img, index) => (
                                <div class="item">
                                  <Image src={img.src} alt={img.alt}/>
                                </div>
                        ))}
                </div>

        </main>
</Layout>

<style>
        main {
                margin: auto;
                padding: 3rem;
                width: 950px;
                max-width: calc(100% - 2rem);
                line-height: 1.6;
                font-family: "Ubuntu Mono", monospace;
        }

        img {
                border-radius: 10px;
                max-width: 100%;
                display: block;
                height: auto;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .collage {
                column-count: 3;
                column-gap: 23px;
        }

        .item {
                display: inline-block;
                margin-bottom: 20px;
                width: 100%;
        }

        .item img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        @media only screen and (max-width: 767px) and (min-width: 300px) {
                .collage {
                        column-count: 2;
                }

                main {
                        margin: auto;
                        padding: 1rem;
                        width: 400px;
                        max-width: calc(100% - 2rem);
                }
        }
</style>
