---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono";
---

<Layout title="Carlinux Portfolio">
	<main>
		<hgroup>
			<h1>Holi, I'm Carlos ^^</h1>
			<p>Software Developer student from México</p>
		</hgroup>

		<hr />
		<div class="collage">
			<div class="item">
				<img src="/images/me.jpg" alt="Carlos" />
			</div>
			<div class="item">
				<img src="/images/psj.jpg" alt="Carlos" />
			</div>
			<div class="item">
				<img src="/images/us.jpg" alt="Carlos" />
			</div>

			<div class="item">
				<img src="/images/me3.jpg" alt="Carlos" />
			</div>
		</div>

		<p>
			Aspiring Software Engineer with a passion for crafting innovative
			solutions. Currently immersed in the world of software engineering,
			I find joy in the elegance of Java, the efficiency of Golang, and
			the power of Linux systems. What some might view as mere code, I see
			as a canvas for creativity and problem-solving.
		</p>
		<hr />
		<p>
			Beyond technology, I have a soft spot for cats and a fondness for
			snowy landscapes. When not engrossed in lines of code, you might
			find me exploring the latest tech trends, curled up with a good
			book, or thinking about my cat Blacky 🐈‍⬛.
		</p>

		<hr />
		<blockquote>
			"Intelligence is the ability to avoid doing work, yet getting the
			work done."
			<footer>
				<cite>- Linus Torvalds</cite>
			</footer>
		</blockquote>

		<div class="grid">
			<div class="grid">
				<div>
					<i
						class="fa-brands fa-github fa-fade"
						style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.7;"
					></i>
					<a href="https://github.com/sponkurtus2" class="secondary"
						>Follow me on Github</a
					>
				</div>
			</div>

			<div class="grid">
				<div>
					<i
						class="fa-brands fa-instagram fa-fade"
						style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.7;"
					></i>
					<a
						href="https://www.instagram.com/carlitos_05.go/"
						class="secondary">Follow me on Instagram</a
					>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 3rem;
		width: 700px;
		max-width: calc(100% - 2rem);
		line-height: 1.6;
		font-family: "Ubuntu Mono", monospace;
	}

	p {
		font-size: 17px;
	}

	img {
		border-radius: 10px;
		max-width: 100%;
		display: block;
		height: auto;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.collage {
		column-count: 2;
		column-gap: 17px;
	}

	.item {
		display: inline-block;
		margin-bottom: 20px;
		width: 100%;
	}

	.item img {
		width: 100%;
		height: auto;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	@media only screen and (max-width: 767px) and (min-width: 300px) {
		.collage {
			column-count: 2;
		}

		main {
			margin: auto;
			padding: 1rem;
			width: 400px;
			max-width: calc(100% - 2rem);
		}
	}
</style>
