---
import Layout from "../layouts/Layout.astro";
import "@fontsource/ubuntu-mono";
---

<Layout title="Works">
        <main>
                <hgroup>
                        <h1>My recent work</h1>
                        <p>
                                Venturing into the realm of software engineering
                                with a thirst for knowledge and hands-on
                                experience, I am excited to showcase my early
                                projects and growth in this dynamic field.
                        </p>
                </hgroup>

                <hr />

                 <hgroup>
                        <h5>Autozone</h5>
                        <h6>Intership in Software development - 2024</h6>
                </hgroup>

                <p>
                        During my internship at Autozone, I contributed to the "Career Path" project, 
                        which serves as a comprehensive career map for employees. This platform allows 
                        employees to explore various career options and the necessary requirements to 
                        apply for specific positions. My responsibilities included both development and 
                        modernization of key components of the system.
                </p>

                <ul>
                        <li>
                                I developed new features using Java and Spring Boot, such as Java controllers and services.
                        </li>
                        <li>
                                I migrated legacy code from Java 7 to Java 17, improving performance and maintainability.

                        </li>
                        <li>
                                Integrated Oracle DB for persistent data management, ensuring data reliability and integrity.
                        </li>
                        <li>
                                Collaborated on frontend tasks using Next.js, optimizing the user interface for a seamless experience.
                            </li>
                            <li>
                                Implemented comprehensive testing procedures to ensure the quality and stability of the platform.
                            </li>
                </ul>

                <hr>

                <hgroup>
                        <h5>Bustrack</h5>
                        <h6>Software developer - 2024</h6>
                </hgroup>

                <p>
                        Bustrack is a project that I co-founded with two
                        friends, where we envisioned and brought to life an
                        innovative transportation platform. My primary role
                        involved leading the design, development, and
                        implementation of the web application.
                </p>

                <ul>
                        <li>
                                bustrack provides real-time information about
                                the location of buses
                        </li>
                        <li>
                                It enhances safety and communication within the
                                transportation system. This includes the
                                implementation of unique QR codes for each user,
                                enabling more efficient and secure access
                                control.
                        </li>
                        <li>
                                It improves the accessibility of the
                                transportation system for people with visual
                                impairments.
                        </li>
                </ul>

                <a href="https://bus-track.vercel.app/" class="secondary"
                        >You can view the site here.</a
                >

        </main>
</Layout>

<style>
        main {
                margin: auto;
                padding: 3rem;
                width: 800px;
                max-width: calc(100% - 2rem);
                line-height: 1.6;
                font-family: "Ubuntu Mono", monospace;
        }

        p {
                font-size: 20px;
        }

        li {
                font-size: 19px;
        }
</style>
