<main class="container">
<nav>
    <ul>
      <li><strong class="navFont">Carlos Reyes</strong></li>
    </ul>
    <ul>
      <li class="navFont"><a href="/" class="contrast">Home</a></li>
      <li class="navFont"><a href="/work/" class="contrast">Work</a></li>
      <li class="navFont"><a href="/articles/" class="contrast">Articles</a></li>
      <li class="navFont"><a href="/gallery" class="contrast">Gallery</a></li>
    </ul>
  </nav>
</main>

<style>

    li a {
        list-style: none;
        color: #B3B9C5;
    transition: 0.3s ease;
    text-decoration: none;
    }

    li:hover a{
        color: #EFF1F4;
    }

</style>
